.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 48px 24px;
    background-color: var(--model-box-br);
    border-radius: 20px;
    color: var(--text-color);
    font-family: var(--system-ui);
}

.title {
    font-size: 3rem;
    text-transform: uppercase;
    word-spacing: 4px;
    text-align: center;
}

.description {
    text-align: center;
    margin: 12px 0;
    max-width: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
}

.sub-des {
    font-size: 1.2rem;
    margin: 20px 0;
}

.error-des {
    color: red;
}

.success-des {
    color: rgb(74, 208, 223);
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;

    .email-label {
        font-size: 1.6rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.1px;
    }

    .email-input {
        width: 100%;
        height: 48px;
        padding: 4px 8px;
        margin-top: 8px;
        color: var(--text-color);
        font-size: 1.4rem;
        margin-bottom: 12px;
        background-color: transparent;
        border: 1px solid var(--border-color);
        border-radius: 4px;

        &:focus {
            border-color: var(--primary-hover);
        }
    }
}

.loading-box {
    width: 100%;
    height: 40px;
    position: relative;
}
