.wrapper {
    display: block;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    overflow: hidden;
    transition: background-color 2s ease-in-out;
}

.close {
    // background-color: red;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        .close-icon {
            color: var(--accent);
        }
    }
}

.close-icon {
    font-size: 2.4rem;
    color: var(--two-night-color);
}

.body {
}
