.wrapper {
    width: 100%;

    p {
        font-size: 1.6rem;
        text-align: start;
        margin-bottom: 24px;
        font-family: 'Courier New', Courier, monospace;
        color: var(--schedule-text-color);
    }
}

@media (max-width: 768px) {
    .wrapper {
        margin-top: 20px;
    }
}
