.wrapper {
    width: 100%;

    p {
        font-size: 1.6rem;
        text-align: start;
        margin-bottom: 24px;
        font-family: 'Courier New', Courier, monospace;
        color: #9e9e9e;
    }
}

.web {
    width: 100%;
    height: 100%;
    border: none;
}
