.wrapper {
    --font-family: 'Fira Code', Monaco, Consolas, 'Ubuntu Mono', monospace;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 7.5px 16px;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

a {
    line-height: 1.9rem;
}

.title + .icon,
.icon + .title {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    text-align: center;
}

.primary {
    background-color: var(--primary);

    &:hover {
        background-color: var(--primary-hover);
    }
}

.outline {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);

    &:hover {
        background-color: #78e2a022;
    }
}

.secondary {
    background-color: transparent;
    color: var(--primary);
    border: 1px dashed var(--primary);

    &:hover {
        background-color: #78e2a022;
    }
}

.circle {
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    border-radius: 50%;
    color: var(--black);
    background-color: var(--primary);

    &:hover {
        background-color: var(--primary-hover);
    }
}

.rounded {
    border-radius: 99px;
}

.disabled {
    opacity: 0.56;
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

.text {
    background-color: transparent;
    color: var(--text-color);
    &:hover {
        text-decoration: underline;
    }
}
