.wrapper {
    display: block;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    overflow: hidden;
    transition: background-color 2s ease-in-out;
    overscroll-behavior: none;
}

.closing {
    display: none;
}

.close {
    // background-color: red;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        .close-icon {
            color: var(--accent);
        }
    }
}

.close-icon {
    z-index: 99999;
    font-size: 3rem;
    color: var(--two-night-color);
}

.body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
}

@media (max-width: 480px) {
    .close {
        top: 12px;
        right: 12px;
    }
    .close-icon {
    }
}
