.wrapper {
    margin-top: 32px;
    display: flex;
    max-width: var(--default-layout-width);
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
    color: var(--text-color);
}

.md-editor {
    width: 100%;
    overflow-x: hidden;
}

.content {
    display: flex;
}

// Tool
.article-tools {
    position: fixed;
}

.info {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    padding: 12px;
}

.author {
    font-size: 1.6rem;
    margin-bottom: 8px;
    padding: 8px;
    border-bottom: 1px solid #39353533;
    font-weight: 600;
    font-size: var(--font-family);
}

.blog-statistical {
    margin: 24px 0;
    padding: 24px 0;
    justify-content: start;

    .like,
    .comment {
        padding: 0 16px;
        font-size: 1.8rem;
    }
}

.md-editor {
    width: 100%;
    margin-left: 150px;
    overflow: auto;
    .title {
        max-width: 100%;
        overflow-x: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        line-height: 1.6;
    }
    h2,
    h3 {
        border-bottom: 0;
        // margin-bottom: 0;
    }
}

.header {
    width: 100%;
}

.preview {
    background-color: var(--background-color);
    color: var(--text-color);
    margin-bottom: 48px;
    font-size: 1.3rem;

    blockquote {
        border-left-color: var(--primary-color);
        color: #333;
    }
}

.topics {
    margin: 24px 0;
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .topics-title {
        font-size: 1.4rem;
        margin-right: 12px;
        margin-bottom: 8px;
    }

    .topic {
        padding: 4px 12px;
        border-radius: 4px;
        margin: 0 8px;
        margin-bottom: 8px;
        font-size: 1.3rem;
        color: var(--accent);
        background-color: var(--black-hover);
        cursor: pointer;
        font-family: var(--font-family);
        &:hover {
            background-color: var(--accent-hover);
            color: var(--black);
        }
    }

    // margin-top: -200px;
}

// Comments

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #51505022;
    // cursor: pointer;
    z-index: 11;
    overscroll-behavior: contain;
}

.comments-wrapper {
    max-width: 700px;
    width: 100%;
    height: 100%;
    padding: 18px;
    background-color: var(--background-color);
    float: right;
    position: relative;
    border-left: 1px solid #fff;
}

.comments-detail {
    padding: 0 18px 68px 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    overscroll-behavior: contain;
}
.comments-count {
    margin-top: 32px;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: var(--font-family);
    color: #fff;

    .comments-des {
        font-size: 1.2rem;
        font-weight: 200;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
    }
}

.close {
    // background-color: red;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .close-icon {
        font-size: 2.4rem;
        color: var(--two-night-color);
    }

    &:hover {
        .close-icon {
            color: var(--accent);
        }
    }
}

.comment-block {
    margin-top: 40px;
}

.comment-input {
    margin-bottom: 24px;
}

////////////////////////

.suggestion {
    margin-left: 150px;
}

@media (max-width: 768px) {
    .content {
        align-items: center;
    }

    .content {
        flex-direction: column-reverse;
    }

    .tools .article-tools {
        height: 80px;
        max-width: 300px;
        width: 100%;
        flex-direction: row;
        position: relative;
    }

    .md-editor {
        margin-left: 0;
    }

    .suggestion {
        margin-left: 0;
    }

    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comments-wrapper {
        width: 85%;
        height: 90%;
        border-radius: 12px;
        overflow-y: hidden;
        border-left-color: transparent;
        border: 2px solid #464a4f;
    }

    .comments-detail {
        padding-bottom: 100px;
    }
}

@media (max-width: 480px) {
    .comments-wrapper {
        width: 95%;
        height: 88%;
    }
}
