.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.active {
    .text-box:first-child {
        border: 2px solid #fff;
    }
}

.container {
    display: flex;
}

.comment {
    flex: 1;
}

.text-box {
    border: 1px solid var(--border-color);
    padding: 8px 12px;
    border-radius: 8px;
    min-width: 240px;
    max-width: 100%;
    width: fit-content;
    overflow: hidden;
    background-color: #202020;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: var(--system-ui);
    color: var(--color);
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.text {
    font-size: 1.3rem;
    color: var(--color);
    font-family: var(--font-family);
    margin-top: 8px;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.tool-box {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

.tool {
    font-family: var(--font-family);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid transparent;
    &:hover {
        text-decoration: underline;
    }
}

.tool.LIKE {
    color: rgb(15, 114, 236);
}

.tool.LOVE {
    color: #f66363;
}

.tool.CARE,
.tool.SAD,
.tool.HAHA,
.tool.WOW {
    color: #f7c44f;
}

.tool.ANGRY {
    color: #fa8f1a;
}

.liked {
    font-weight: lighter;
    // font-size: 1.4rem;
}

.tool.no-hover:hover {
    cursor: default;
    text-decoration: none;
}
.dot {
    margin: 12px;
    width: 3px;

    height: 3px;
    border-radius: 50%;
    background-color: var(--accent);
}

.comments {
    margin-left: 48px;
    padding-left: 8px;
    border-left: 1px solid var(--accent);
}

.reply-box {
    margin-top: 12px;
}

.list-reply {
    border-left: 1px solid var(--accent);
    padding-left: 12px;
    margin-top: 12px;
}

.label {
    font-weight: bold;
    display: inline-flex;
    max-width: fit-content;
    align-items: center;
    cursor: pointer;
    margin-bottom: 12px;
    margin-left: 48px;

    .label-text {
        font-family: var(--system-ui);
        font-size: 1.2rem;
    }

    .up-icon,
    .down-icon {
        font-size: 2rem;
        transition: transform 0.2s;
    }

    &:hover {
        .down-icon {
            transform: translateY(10%);
        }
        .up-icon {
            transform: translateY(-10%);
        }
    }
}

.see-more {
    font-size: 1.4rem;
    font-family: var(--system-ui);
    font-weight: 200;
    text-decoration: underline;
    transition: font-weight 0.3s;

    &:hover {
        font-weight: 500;
        cursor: pointer;
    }
}

.reactions-button {
    margin-left: 4px;
}

@media (max-width: 768px) {
    .comments {
        margin-left: 0;
    }

    .label {
        margin-left: 48px;
    }
}

@media (max-width: 480px) {
    .text-box {
        min-width: 100px;
    }
    .comments {
        margin-left: 0;
    }

    .label {
        margin-left: 48px;
    }
}
