.wrapper {
    height: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}

.header {
    margin-bottom: 32px;
}

.title {
    font-size: 2rem;
    margin-bottom: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.1px;
}

.des {
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.9;
    letter-spacing: 0.1px;
}

.content {
    border-radius: 12px;
}

.item:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.item:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
}

@keyframes fadeOut {
    0% {
        background-color: #22dfbf; // Starting color (yellow)
    }
    100% {
        background-color: transparent; // Ending color (transparent)
    }
}

.edited {
    animation: fadeOut 2s forwards;
}

@media (max-width: 468px) {
    .title {
        font-size: 1.8rem;
    }
}
