.tool {
    padding: 20px;
    height: 300px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--tool-border);
    background-color: var(--tool-br);
    border-radius: 50px;

    .icon-block {
        display: inline-block;
        padding: 12px 0;
        width: 50px;
        height: 50px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 8px;
        border-radius: 9999px;
        border: 1.5px solid var(--tool-icon-border);
        transition: background-color 0.15s linear;
        overflow: hidden;

        &:hover {
            background-color: var(--tool-icon-hover);
            color: var(--primary);
        }
    }

    .box {
    }

    .icon {
        font-size: 2.5rem;
    }

    .react-icon {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .react-icon svg {
        font-size: 2.5rem;
        animation: reactIconAnimation 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }
}

@keyframes reactIconAnimation {
    0% {
        margin-top: 40px;
    }
    50% {
        margin-top: -15px;
    }
    100% {
        margin-top: 0;
    }
}

.tippy {
    font-family: var(--system-ui);
    width: max-content;
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    padding: 6px 12px;
    font-size: 1.4rem;
    border-radius: 9999px;
}

@media (max-width: 480px) {
    .tool {
        padding: 12px;
    }
}
