.wrapper {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    background-color: var(--model-box-br);
    border-radius: 8px;
    min-height: 200px;
    animation: active 0.2s cubic-bezier(0, 0.56, 0.62, 0.57);
}

@keyframes active {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes close {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.close {
    animation: close 0.2s cubic-bezier(0, 0.56, 0.62, 0.57);
}

.error {
    .title {
        color: red;
    }
}

.header {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: var(--text-color);
        font-family: var(--system-ui);
    }

    .close-icon-wrap {
        width: 3.6rem;
        height: 3.6rem;
        background-color: var(--close-btn-br);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 999999px;
        cursor: pointer;
        &:hover {
            background-color: var(--close-btn-hover);
        }
    }

    .close-icon {
        font-size: 2.6rem;
        color: #e4e6eb;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    height: 100%;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
    font-family: var(--system-ui);
}

.confirm {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
