.menu-list {
    width: 80px;
    height: auto;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    .menu-item {
        width: 100%;
        padding: 6px;
        font-size: 1.3rem;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
    }
    .menu-item:hover {
        background-color: var(--accent);
    }
}
