.wrapper {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;

    .title {
        font-size: 2rem;
        font-family: var(--font-family);
        text-transform: uppercase;
        font-size: 2.2rem;
        letter-spacing: 1px;
        color: var(--text-color);
        line-height: 2.6rem;
        font-weight: bold;
        text-align: center;
    }
}

.search {
    margin: 40px 0;
}

.topic-search {
    padding: 12px 4px;
    background-color: var(--topic-search-br);
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: var(--font-family);
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;

    .close-icon {
        font-size: 2.4rem;
        cursor: pointer;
        position: absolute;
        right: 12px;
        transition: color 0.2s;
        border-radius: 9999px;
        transition: background-color 0.3s ease;
    }

    .close-icon:hover {
        background-color: var(--border-color);
    }
}

span.topic-item {
    display: inline-block;
    &::first-letter {
        color: var(--primary);
    }
}
// Line

.line {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    overflow-x: overlay;
    position: relative;

    &::before {
        content: ' ';
        position: absolute;
        background: var(--border-color);
        opacity: 0.5;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        border-radius: 8px;
        opacity: 0.4;
    }
}

.topic.active {
    &::after {
        display: block;
        background-color: var(--primary);
    }
}

.topic-list {
    &::-webkit-scrollbar {
        display: none;
    }
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    height: 40px;
    overflow-x: overlay;
    position: relative;
}

.topic {
    margin: 0 8px;
    padding: 0 8px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    z-index: 3;
    font-family: var(--font-family);
    color: var(--text-color);

    font-size: 1.5rem;
    letter-spacing: -0.5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
        margin-left: 0;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -1px;
        left: 0;
        right: 0;
        border-radius: 8px;
        background-color: var(--primary);
        height: 2px;
        display: none;
    }

    &:hover {
        &::after {
            display: block;
        }
    }
    &:active {
        border: 1px solid var(--primary);
    }

    .icon {
        font-size: 1.6rem;
        font-weight: bold;
        margin-right: 4px;
        margin-top: 4px;
    }
}

.list {
    margin: 40px 0;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.empty-noti {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 1.4rem;
    font-family: var(--system-ui);
    color: var(--text-color);
}

.loader-wrapper {
    display: flex;
    justify-content: center;
}

//pagination
.pagination {
    padding: 12px;
    display: flex;
    justify-content: center;
}

.load-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 684px) {
    .content {
        margin-top: 40px;
    }
}
