@keyframes open {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.no-underline:hover {
    text-decoration: none;
    cursor: default;
}

.icon-box {
    width: 22px;
    height: 22px;
    margin-right: -4px;
    border: 2px solid var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
}
.icon-box:first-child {
    z-index: 7;
}
.icon-box:nth-child(2) {
    z-index: 6;
}
.icon-box:nth-child(3) {
    z-index: 5;
}
.icon-box:nth-child(4) {
    z-index: 4;
}
.icon-box:nth-child(5) {
    z-index: 3;
}
.icon-box:nth-child(6) {
    z-index: 2;
}
.icon-box:nth-child(7) {
    z-index: 1;
}

.total {
    margin-left: 8px;
    font-size: 1.4rem;
}

// Reaction List User

.reactions-listbox {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #242526;
    max-width: 640px;
    width: 100%;
    height: 468px;
    cursor: default;
    animation: open 0.2s cubic-bezier(0, 0.56, 0.62, 0.57);
}

.header {
    width: 100%;
    height: 48px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    display: flex;
    align-items: center;
    height: 100%;

    .tab {
        margin-right: 4px;
        padding: 0 8px;
        width: 84px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        position: relative;

        &:hover {
            background-color: #fff3;
            cursor: pointer;
        }
    }

    .no-hover:hover {
        background-color: transparent;
    }

    .more {
        width: 100px;
    }

    .active {
        color: #0093fc;
        position: relative;

        .sub-tabs {
            color: #fff;
        }
    }

    .active::before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #0093fc;
        position: absolute;
        bottom: 0;
    }

    .active:hover {
        background-color: transparent;
        cursor: default;
    }

    .tab-name {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .tab-number {
        margin-left: 8px;
        font-size: 1.4rem;
        font-weight: 500;
    }
    .addition-icon {
        margin-left: 4px;
    }
}

.sub-tabs.subtabs-active {
    display: block;
}

.sub-tabs.large {
    width: 140%;
}

.sub-tabs {
    display: none;
    margin-top: 4px;
    width: 120%;
    background-color: #242526;
    position: absolute;
    top: 48px;
    left: 0;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 4px;

    .check {
        color: #5ab8ff;
        position: absolute;
        right: 4px;
    }

    .tab {
        display: flex;
        justify-content: flex-start;
        padding: 4px 0;
        width: 100%;
        padding: 6px 12px;
        border-radius: 4px;

        .tab-number {
            margin-left: 12px;
        }

        &:hover {
            background-color: #fff3;
        }
    }
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 40px;
    min-height: 40px;
    background-color: rgba(58, 59, 60, 1);
    border-radius: 9999px;

    &:hover {
        background-color: #fff3;
        cursor: pointer;
    }

    .close-icon {
        width: 18px;
        height: 18px;
        padding: auto;
        color: #fff;
    }
}

.content {
    margin-top: 24px;
    .reacted-user {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    .reacted-user:hover {
        cursor: pointer;
    }

    .avatar-box {
        position: relative;
    }

    .avatar {
        width: 40px;
        height: 40px;
    }

    .reacted-icon {
        position: absolute;
        right: 8px;
        bottom: 2px;
    }

    .reacted-name {
        margin-left: 4px;
        font-size: 1.4rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
            'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0.5px;
    }
}
