.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0b0b0bcc;
    // cursor: pointer;
    z-index: 11;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
}
