.wrapper {
    width: 100%;
}

.title {
    font-family: var(--font-family);
    margin-bottom: 20px;
}

.list {
    width: 100%;
}

.see-more {
    font-size: 1.4rem;
    font-family: var(--system-ui);
    margin-top: 12px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
