// Sugestions
.suggest {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 1.7rem;
    font-family: var(--system-ui);
}

.suggest-list {
    // &::-webkit-scrollbar {
    //     display: none;
    // }
    display: flex;
    margin-top: 24px;
    justify-content: flex-start;
    overflow-x: auto;
}
.suggest-item {
    margin-right: 12px;
    width: 120px;
    min-width: 120px;
    min-height: 150px;
    padding: 8px;
    padding-bottom: 16px;
    border-radius: 4px;
    position: relative;
    border: 1.5px solid var(--border-color);
    cursor: pointer;

    &:hover {
        --b: 1.5px; /* thickness of the border */
        --c: var(--accent); /* color of the border */
        --w: 20px; /* width of border */

        border: var(--b) solid #0000; /* space for the border */
        --_g: #0000 90deg, var(--c) 0;
        --_p: var(--w) var(--w) border-box no-repeat;
        background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
            conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
            conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
            conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
    }
}

.suggest-book {
    width: 100%;
    height: 122px;
    border-radius: 4px;
}

.suggest-title {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--text-color);
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    word-wrap: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
