.wrapper {
    width: 100%;
}
.comments-detail {
    padding: 0 18px 68px 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    overscroll-behavior: contain;
}
.comments-count {
    margin-top: 32px;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: var(--font-family);
    color: #fff;

    .comments-des {
        font-size: 1.2rem;
        font-weight: 200;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
    }
}

.comment-block {
    margin-top: 40px;
}

.comment-input {
    margin-bottom: 24px;
}

.see-more {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-family: var(--system-ui);
    font-weight: 200;
    text-decoration: underline;
    transition: font-weight 0.3s;

    &:hover {
        font-weight: 500;
        cursor: pointer;
    }
}

.loading-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
