.wrapper {
    width: 100%;
    padding: 0 32px 68px 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    overscroll-behavior: contain;
}

.comments-count {
    margin-top: 32px;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--text-color);

    .comments-des {
        font-size: 1.2rem;
        font-weight: 200;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
    }
}

.comment-block {
    margin-top: 40px;
}

.comment-input {
    margin-bottom: 24px;
}

.see-more {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-family: var(--system-ui);
    font-weight: 200;
    text-decoration: underline;
    transition: font-weight 0.3s;

    &:hover {
        font-weight: 500;
        cursor: pointer;
    }
}

.loading-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-comment {
    font-size: 1.4rem;
    font-family: var(--system-ui);
    color: var(--schedule-text-color);
    text-align: center;
    margin-top: -12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.st-btn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    background-color: var(--model-box-br);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
    animation: fadeIn 0.3s ease;
    color: var(--primary);

    &:hover {
        background-color: var(--close-btn-hover);
    }
}
